@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my MVC demonstration project</h1>
    <p><a href="https://github.com/GeoRKP?tab=repositories">My GitHub</a>.</p>
</div>
